<div class="d-flex flex-cl">
  {% assign main_img = article.image %}
  {% render 'image', main_img: main_img %}
  <div class="bc-dark padding-15 t-align--center">
    <a class="h-md t-decor--none c-secondary" href="{{ article.url }}">
      {{ article.title | upcase }}
    </a>
  </div>
</div>