<div class="grid__item">
  <div class="card d-flex flex-cl a-item--center">
    <div class="p-relative square width-100">
      <a class="d-iblock square" href="#">
        {{ 'product-apparel-3' | placeholder_svg_tag: 'placeholder-svg wh-100 cube__content' }}
      </a>
      <button class="btn btn-link btn-border--none max-wh-1 p-absolute top-20 right-20">
        {% render 'icon-heart' %}
      </button>
    </div>
    <div class="card-body d-flex flex-cl a-item--center gap-10 mt-20">
      <h3 class="h-xs t-transf--uc">product name</h3>
      <p class="h-xs c-grey1 mb-10 price">1</p>
      <button class="btn btn-secondary border-primary t-transf--uc padding-8-14 lg-padding-12-32">add to cart</button>
    </div>
  </div>
</div>