<div class="container container__padding">
  <div class="mb-50 lg-mb-100">
    <h2 class="h-2xl h-md t-align--center mb-20 lg-mb-15">
      {{ section.settings.title | upcase }}
    </h2>
    <p class="c-grey2 t-align--center">
      {{ section.settings.description }}
    </p>
  </div>
  {% form 'contact' %}
    {{ form.errors | default_errors }}
    <div class="d-grid layout__bad lg-2--column gap-40 lg-cl-gap-19 mb-40 lg-mb-50">
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">title</label>
          <div class="p-relative">
            <select
              name="contact[title]"
              id=""
              class="padding-18-20 border-grey6 cus-select width-100">
              <option value="">Miss</option>
              <option value="">Mr</option>
            </select>
            <svg
              class="p-absolute select-arrow__position"
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="7"
              viewBox="0 0 12 7"
              fill="none">
              <path
                d="M11 1L6.30612 6L1 1"
                stroke="#171719"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc required">sur name</label>
          <div class="p-relative input-box">
            <input
              id="surname"
              name="contact[surname]"
              type="text"
              class="width-100 padding-18-20 border-grey6 cus-input"
              required>
            <span class="content-custome c-grey3">Insert your name</span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc required">first name</label>
          <div class="p-relative input-box">
            <input
              id="firstname"
              name="contact[firstname]"
              type="text"
              class="width-100 padding-18-20 border-grey6 cus-input"
              required>
            <span class="content-custome c-grey3">Insert your surname</span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc required">email</label>
          <div class="p-relative input-box">
            <input
              id="email"
              name="contact[email]"
              type="email"
              class="width-100 padding-18-20 border-grey6 cus-input"
              required>
            <span class="content-custome c-grey3">Insert your Email</span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">phone</label>
          <div class="p-relative input-box">
            <input
              id="phone"
              name="contact[phone]"
              type="number"
              pattern="[0-9\-]*"
              class="width-100 padding-18-20 border-grey6 cus-input"
              required>
            <span class="content-custome c-grey3">Insert your phone</span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">city</label>
          <div class="p-relative input-box">
            <input
              id="city"
              name="contact[city]"
              type="text"
              class="width-100 padding-18-20 border-grey6 cus-input"
              required>
            <span class="content-custome c-grey3">Insert your city</span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">company</label>
          <div class="p-relative input-box">
            <input
              id="company"
              name="contact[company]"
              type="text"
              class="width-100 padding-18-20 border-grey6 cus-input"
              required>
            <span class="content-custome c-grey3">Insert your company here</span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">province</label>
          <div class="p-relative">
            <select
              name="contact[province]"
              id=""
              class="padding-18-20 border-grey6 cus-select width-100">
              <option value="">Agriento</option>
              <option value="">Agriento</option>
            </select>
            <svg
              class="p-absolute select-arrow__position"
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="7"
              viewBox="0 0 12 7"
              fill="none">
              <path
                d="M11 1L6.30612 6L1 1"
                stroke="#171719"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">vat number</label>
          <div class="p-relative input-box">
            <input
              id="Vatnumber"
              name="contact[vatnumber]"
              type="number"
              class="width-100 padding-18-20 border-grey6 cus-input"
              required>
            <span class="content-custome c-grey3">Insert your VAT number</span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">request</label>
          <div class="p-relative">
            <select
              name="contact[request]"
              id=""
              class="padding-18-20 border-grey6 cus-select width-100">
              <option value="">Dealer</option>
              <option value="">Dealer</option>
            </select>
            <svg
              class="p-absolute select-arrow__position"
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="7"
              viewBox="0 0 12 7"
              fill="none">
              <path
                d="M11 1L6.30612 6L1 1"
                stroke="#171719"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>
      </div>
      <div class="grid-item lg-grid__col--13">
        <div class="d-flex flex-cl gap-11">
          <label class="h-xs t-transf--uc">message</label>
          <div class="p-relative input-box">
            <textarea
              name="contact[message]"
              id="message"
              rows="8"
              style="resize: none;"
              class="width-100 h5 padding-18-20 border-grey6 cus-input"></textarea>
            <span class="content-custome c-grey3">Write your message here</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-cl gap-20 mb-40 lg-mb-50">
      <div class="d-flex gap-20 lg-a-item--center">
        <input
          id="exclusive-offers"
          class="wh-24 border-grey6 cus-select"
          type="checkbox">
        <label for="exclusive-offers">I agree to receive communications regarding exclusive offers, services and news</label>
      </div>
      <div class="d-flex gap-20 lg-a-item--center">
        <input
          id="privacy-policy"
          class="wh-24 border-grey6 cus-select"
          type="checkbox">
        <label for="privacy-policy">After reading the privacy policy, I consent to the processing of my personal data.</label>
      </div>
    </div>
    <div>
      <input
        type="submit"
        value="SEND INQUIRY"
        class="btn btn-primary btn-border--none t-transf--uc padding-12-32" />
    </div>
  {%- endform -%}
  <div id="successMessage" style="display: none;">Success!!!</div>
</div>

<script>
  document.getElementById("ContactForm").addEventListener("submit", function(event) {
    event.preventDefault();
    document.getElementById("successMessage").style.display = "block";
  });
</script>

{% schema %}
  {
    "name": "Become a dealer",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title",
        "default": "become a dealer"
      }, {
        "type": "inline_richtext",
        "id": "description",
        "label": "Description",
        "default": "Exclusive jewels with a contemporary design, handcrafted finished and able to arouse emotions"
      }
    ]
  }
{% endschema %}