<div class="container">
  <div class="d-flex flex-cl gap-20 lg-gap-0 lg-d-flex-row lg-a-item--center lg-j-content--sb mb-40 lg-mb-60">
    {% assign product_count = products | size %}
    <p class="c-grey2">There are {{ product_count }} products</p>
    <div class="d-flex j-content--sb lg-gap-60">
      <form class="d-flex a-item--center">
        <label class="h-xs t-transf--uc colon">sort by</label>
        <div class="d-flex a-item--center gap-22">
          <select class="h-xs cus-select t-transf--uc fw-600 btn-border--none">
            <option value="">highest price</option>
            <option value="">lowest price</option>
          </select>
          {% render 'icon-arrow-down' %}
        </form>
      </div>
      <button class="btn btn-link btn-border--none h-xs t-transf--uc fw-600">filter</button>
    </div>
  </div>
  <div>
    <div class="d-grid xs-2--column lg-4--column r-gap-40 lg-r-gap-60 gap-15 lg-gap-18 p-block--13 lg-padding-0">
      {% for product in collection.products %}
        {% render 'list-product', product: product %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "collection",
    "tag": "section"
  }
{% endschema %}