<div class="container-scroll container">
  <h2 class="h-2xl h-md t-align--center mb-25 lg-mb-45">
    {{ section.settings.title | upcase }}
  </h2>
  <div class="d-grid xs-4--column gap-15 lg-gap-20 p-block--13 lg-padding-0 scroll">
    {% if section.settings.product_list == empty %}
      {% for i in (1..4) %}
        {% render 'replacement-list-product' %}
      {% endfor %}
    {% else %}
      {% for product in section.settings.product_list %}
        {% render 'list-product', product: product %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured Products",
    "tag": "section",
    "class": "Featured-procuts",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Enter your title",
        "default": "Feature Product"
      }, {
        "type": "product_list",
        "id": "product_list",
        "label": "Choose your product",
        "limit": 4
      }
    ],
    "presets": [
      {
        "name": "Featured Products"
      }
    ]
  }
{% endschema %}