<div class="container padding-ver-40 lg:padding-ver-100">
  <div class="d-flex flex-cl j-content--center">
    <h2 class="t-transf--uc t-align--center mb-30">Page not found</h2>
    <div class="t-align--center">
      <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary padding-10 t-decor--none t-transf--uc">Back to shopping now</a>
    </div>
  </div>
</div>