<div class="container padding-56 lg:padding-82 t-align--center t-transf--uc">
  <h1 class="h2 fw-600 t-transf--uc">
    {{ page.title }}
  </h1>
</div>

{% schema %}
  {
    "name": "Heading with background",
    "tag": "section",
    "class": "bc-grey0"
  }
{% endschema %}