html {
  font-size: 62.5%;
}

body{
  font-family: var(--font-family-1);
  font-size: var(--body-text);
  line-height: calc(24 / 14);
  color: var(--color-primary);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.font-ih
{
  font: inherit;
}

/*--font--*/
.h-2xs, .h-xs, .h-sm, .h-md, .h-lg, .h-xl, .h-2xl, h1, h2, h3, h4, h5{
  line-height: 1.5;
  letter-spacing: .2rem;
  font-weight: 600;
}

.h-2xs
{
  font-size: var(--heading-2xs);
}

.h-xs
{
  font-size: var(--heading-xs);
}

.h-sm
{
  font-size: var(--heading-sm);
}

.h-md
{
  font-size: var(--heading-md);
}

.p {
  font-family: var(--font-family-2);
  line-height: calc(28 / 18);
}

.ffamily-1
{
  font-family: var(--font-family-1);
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.l-spacing {
  letter-spacing: .2rem;
}
/*--width height--*/
.max-wh-20 {
  max-width: 2rem;
  max-height: 2rem;
}

.wh-24 {
  width: 2.4rem;
  height: 2.4rem;
}

.max-wh-25 {
  max-width: 2.5rem;
  max-height: 2.5rem;
}

.max-width-125 {
  max-width: 12.5rem;
}

.max-width--327
{
  max-width: 32.7rem;
}

.width-20 {
  width: 2rem;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.width-40 {
  width: 4rem;
}

.width-50pc {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.height-52 {
  height: 5.2rem;
}

.height-100 {
  height: 100%;
}

.height-222{
  height: 22.2rem;
}

/*--padding--*/
.pl-4
{
  padding-left: .4rem;
}
.pt-40 {
  padding-top: 4rem;
}
.padding-7-18 {
  padding: .7rem 1.8rem;
}

.p-inline--15 {
  padding-inline: 1.5rem;
}

.padding-10 {
  padding: 1rem;
}

.padding-11-18 {
  padding: 1.1rem 1.8rem;
}

.p-block--11 {
  padding-block: 1.1rem;
}

.p-block--13 {
  padding-block: 1.3rem;
}

.padding-15 {
  padding: 1.5rem;
}

.padding-18-20 {
  padding: 1.8rem 2rem;
}

.padding-8-14 {
  padding: .8rem 1.4rem;
}
.padding-13-15 {
  padding: 1.3rem 1.5rem;
}

.padding-12-32 {
  padding: 1.2rem 3.2rem;
}

.p-block--20 {
  padding-block: 2rem;
}

.padding-20-50 {
  padding: 2rem 5rem;
}

.padding-23 {
  padding: 2.3rem;
}

.p-block--30 {
  padding-block: 3rem;
}

.padding-30-15 {
  padding: 3rem 1.5rem;
}

.padding-60-30 {
  padding: 6rem 3rem;
}

.p-block--40 {
  padding-block: 4rem;
}

.p-block--50 {
  padding-block: 5rem;
}

.p-block--56 {
  padding-block: 5.6rem;
}

.p-inline--15
{
  padding-inline: 1.5rem;
}

/*--margin--*/
.mr-10 {
  margin-right: 1rem;
}

.mr-15
{
  margin-right: 1.5rem;
}

.mt-30
{
  margin-top: 3rem;
}

.mt-40
{
  margin-top: 4rem;
}

.mb-5 {
  margin-bottom: .5rem;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mb-18 {
  margin-bottom: 1.8rem;
}

.mt-20 {
  margin-top: 2rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-25 {
  margin-bottom: 2.5rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-35 {
  margin-bottom: 3.5rem;
}

.mb-37 {
  margin-bottom: 3.7rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-60 {
  margin-bottom: 6rem;
}

.ml-17 {
  margin-left: 1.7rem;
}


/*--gap--*/
.gap-8 {
  gap: .8rem;
}
.gap-10 {
  gap: 1rem;
}

.gap-11 {
  gap: 1.1rem;
}

.gap-13 {
  gap: 1.3rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-20 {
  gap: 2rem;
}

.gap-22 {
  gap: 2.2rem;
}

.gap-30 {
  gap: 3rem;
}

.gap-40 {
  gap: 4rem;
}

.gap-60 {
  gap: 6rem;
}

.gap-70 {
  gap: 7rem;
}

.r-gap-40 {
  row-gap: 4rem;
}

/*--position--*/
.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position: fixed;
}

.top-50pc {
  top: 50%;
}
.top-8{
  top: .8rem;
}

.top-20 {
  top: 2rem;
}
.top-70 {
  top: 7rem;
}

.left-0 {
  left: 0;
}

.left-10 {
  left: 1rem;
}
.left-15 {
  left: 1.5rem;
}

.right-0 {
  right: 0;
}

.right-10 {
  right: 1rem;
}

.right-15 {
  right: 1.5rem;
}

.right-20 {
  right: 2rem;
}

.bottom-10 {
  bottom: 1rem;
}

.bottom-15 {
  bottom: 1.5rem;
}

/*--display--*/
.d-flex {
  display: flex;
}

.flex-item {
  flex: 0 0 auto;
}

.flex-cl {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.d-iblock {
  display: inline-block;
}

.j-content--center {
  justify-content: center;
}

.j-content--sb {
  justify-content: space-between;
}

.j-content--end {
  justify-content: end;
}

.a-item--center {
  align-items: center;
}

.p-item--center {
  place-items: center;
}

.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.z-index-100 {
  z-index: 100;
}

/*--color--*/
.bc-primary {
  background-color: var(--color-primary);
}

.bc-secondary {
  background-color: var(--color-secondary);
}

.bc-dark {
  background-color: var(--color-dark);
}

.bc-grey0 {
  background-color: var(--color-grey0);
}

.bc-grey3{
  background-color: var(--color-grey3);
}

.c-primary {
  color: var(--color-primary);
}

.c-secondary {
  color: var(--color-secondary);
}

.c-grey1 {
  color: var(--color-grey1);
}

.c-grey2 {
  color: var(--color-grey2);
}

.c-grey3 {
  color: var(--color-grey3);
}

.c-grey5 {
  color: var(--color-grey5);
}

/*--button--*/
.btn {
  display: inline-block;
  letter-spacing: .2rem;
  cursor: pointer;
}


.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.btn-link {
  background-color: transparent;
}

.btn-success {
  color: var(--color-grey3);
  padding: 1rem;
  border: none;
}

.active-btn {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.btn-border--none {
  border: none;
}

.btn-position {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*--border--*/
.border-primary {
  border: 1px solid var(--color-primary);
}

.border-bt-dark2 {
  border-bottom: 1px solid var(--color-dark2);
}

.boder-bt--grey3 {
  border-bottom: 1px solid var(--color-grey3);
}

.border-bt--grey6 {
  border-bottom: 1px solid var(--color-grey6);
}

.border-top--grey6 {
  border-top: 1px solid var(--color-grey6);
}

.border-grey6 {
  border: 1px solid var(--color-grey6);
}

/*--another helper class--*/
.oflow--hidden {
  overflow: hidden;
}

.l-style--none {
  list-style: none;
}

.t-decor--none {
  text-decoration: none;
}

.t-transf--uc {
  text-transform: uppercase;
}

.t-align--start {
  text-align: start;
}

.t-align--center {
  text-align: center;
}

.t-align--end {
  text-align: end;
}

.scroll {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.scroll .grid__item {
  scroll-snap-align: center;
}

.scroll .flex-item {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.price::before {
  content: "$";
}

.required::after {
  content: "*";
}

.colon::after {
  content: ":";
}

.cursor-pointer {
  cursor: pointer;
}

/* background */
.bg-style {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.ojectfit--cv
{
  object-fit: cover;
}

.translatey-10 {
  transform: translateY(-1rem);
}
.order-1
{
  order: 1;
}

.order-2 {
  order: 2;
}

.truncate-text {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*--Cubes--*/
.square
{
  aspect-ratio: 1/1;
}

.rectangle__narrow
{
  aspect-ratio: 7/9;
}

.rectangle__wide
{
  aspect-ratio: 4/5;
}

.cube__content
{
  position: absolute;
  width: 100%;
  height: 100%;
}

/*--liquid custome--*/
.sm-title__mb
{
  margin-bottom: var(--sm-mb);
}

.content__mb
{
  margin-bottom: var(--mb-content);
}

.sm-padding
{
  padding: var(--sm-padding) var(--ctph);
}

.sm-fs
{
  font-size: var(--sm-fs);
}

.bg-img
{
  background-image: var(--bg-img);
}

.box-title__mb
{
  margin-bottom: var(--box-title-mb);
}

.box-img__mb
{
  margin-bottom: var(--img-mb);
}