:root {
  --ctpv: 4rem;
  --ctph: 1.5rem;

  --color-primary: #171719;
  --color-secondary: #FFFFFF;
  --color-dark: #262628;
  --color-dark2: #313135;
  --color-grey0: #F5F5F5;
  --color-grey1: #555562;
  --color-grey2: #84848E;
  --color-grey3: #BABCC3;
  --color-grey4: #BABABF;
  --color-grey5: #FFF;
  --color-grey6: #ECECEC;

  --root-font-size: 1rem;
  --heading-ex-small: calc(1.4 * var(--root-font-size));
  --heading-small: calc(1.6 * var(--root-font-size));
  --heading-medium: calc(2 * var(--root-font-size));
  --heading-large: calc(2.4 * var(--root-font-size));
  --heading-ex-large: calc(3 * var(--root-font-size));

  --body-text: calc(1.4 * var(--root-font-size));

  --font-family-1: 'Lato', sans-serif;
  --font-family-2: 'Be Vietnam Pro', sans-serif;
}